<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href="/css/styles.css">
    <title>404 Error</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    
    {{>footer}}
    
    
    
</body>
</html>